@import "../../../Sass/mixin";
@import "../../../Sass/variables";

.subheader-container {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  background-color: $bgclr;
  //   background-color: aqua;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
    // background-color: lightcoral;
    &-left {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      //   align-items: center;
      justify-content: center;
      padding: 0.5rem 0rem;
      //   background-color: lightblue;
      & > h1 {
        font-family: "Manrope";
        font-weight: 800;
        font-size: 5rem;
        line-height: 75px;
        letter-spacing: -0.04em;
        background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      & > p {
        margin-top: 33px;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 27px;
        color: #81afdd;
      }
      &-infield {
        & > input {
          width: 380px;
          height: 73px;
          padding: 0rem 2rem;
          background: #052d56;
          border: none;
          margin-top: 40px;
          color: white;
          border-radius: 5px 0px 0px 5px;

          ::placeholder {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 27px;
            color: #3d6184;
          }
          // &:focus{
          //   outline-color:$orange ;
          //   border: none;
          // }
        }

        & > button {
          // margin-right: -2rem;
          cursor: pointer;
          width: 124px;
          height: 73px;
          color: white;
          background: #ff4820;
          border-radius: 0px 5px 5px 0px;
          border: none;
          font-weight: 600;
          font-size: 1.4rem;
        }
      }
      &-pffield {
        width: 100%;
        height: auto;
        display: flex;
        padding: 1rem 0rem;
        // background-color: #ae67fa;
        &-left {
          width: 35%;
          height: auto;
          display: flex;
          align-items: center;
          padding: 0.5rem 0rem;
          //   background-color: #f49867;
          &-imgfield {
            & > * {
              width: 36px;
              height: 36px;
              &:not(:first-child) {
                margin-left: -1.5rem;
              }
            }
          }
          & > span {
            width: 34px;
            height: 34px;
            margin-left: -1.5rem;
            font-weight: 800;
            font-size: 8px;
            line-height: 38px;
            color: #000000;
            display: flex;
            justify-content: center;
            border: 2px solid white;
            border-radius: 50%;
            background-color: aqua;
          }
        }
        &-right {
          width: 65%;
          height: auto;
          padding: 0.5rem 0rem;
          //   background-color: lightcoral;
          & > p {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 38px;
            color: #ffffff;
          }
        }
      }
    }
    &-right {
      width: 50%;
      height: auto;
      padding: 0.5rem 0rem;
      //   background-color: lightgreen;
      & > img {
        margin-top: -3rem;
        // margin-left: -rem;
        width: 600px;
        height: 701.59px;
      }
    }
  }
}

.social-container {
  width: 100%;
  height: auto;
  padding: 2rem 0rem;
  background-color: $bgclr;
  &-content {
    width: 671px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0rem;
    // background-color: powderblue;
    & > img {
      width: 100px;
      height: 25px;
    }
  }
}

.aboutgpt-container {
  width: 100%;
  height: auto;
  padding: 5rem 0rem;
  // background-color: aqua;
  background-color: $bgclr;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 0.5rem 0rem;
    background: #0f4279;
    filter: blur(60px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // background-color: lavender;
    &-row1 {
      width: 90%;
      height: auto;
      margin: auto;
      display: flex;
      padding: 2rem 0rem;
      // background-color: lavenderblush;
      &-left {
        width: 35%;
        height: auto;
        padding: 0.5rem 0rem;
        // background-color: lightgreen;
        margin-top: -20px;
        // &>img{
        //   // width: 50%;
        // }
        & > h1 {
          font-weight: 800;
          font-size: 2.4rem;
          margin-top: 1rem;
          // line-height: 75px;
          letter-spacing: -0.04em;
          color: #ffffff;
        }
      }
      &-right {
        width: 65%;
        height: auto;
        padding: 0.5rem 0rem;
        // background-color: lightgray;
        & > p {
          font-weight: 500;
          font-size: 1.3rem;
          line-height: 30px;
          color: #81afdd;
        }
      }
    }
    &-row2 {
      width: 90%;
      height: auto;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5rem 0rem;
      // background-color: lemonchiffon;
      & > h1 {
        width: 50%;
        font-weight: 800;
        font-size: 34px;
        line-height: 45px;
        background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
          #ffffff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      & > p {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #ff8a71;
      }
    }
    &-row3 {
      width: 90%;
      height: auto;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0rem;
      // background-color: lightgreen;
    }
  }
}

.gptdata {
  width: 30%;
  height: auto;
  padding: 2.5rem 0rem;
  // background-color: pink;
  &-content {
    & > h1 {
      font-weight: 800;
      font-size: 24px;
      line-height: 75px;
      letter-spacing: -0.04em;
      color: #ffffff;
    }
    & > p {
      margin-top: 3rem;
      font-weight: 500;
      font-size: 1.4rem;
      // line-height: 30px;
      color: #81afdd;
    }
  }
}

.container4 {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  background-color: $bgclr;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0rem;
    // background-color: lemonchiffon;
    &-left {
      width: 40%;
      height: auto;
      padding: 0.5rem 0rem;
      // background-color: lightblue;
      & > h1 {
        font-weight: 800;
        font-size: 34px;
        line-height: 45px;
        /* or 132% */

        background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
          #ffffff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      & > p {
        margin-top: 34px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 30px;
        color: #ff8a71;
      }
    }
    &-right {
      width: 53%;
      height: auto;
      padding: 0.5rem 0rem;
      // background-color: lightgreen;
    }
  }
}

.dtacol {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  // background-color: #81afdd;
  &-p1 {
    width: 30%;
    height: auto;
    padding: 0.5rem 0rem;
    // background-color: lightpink;
    & > h1 {
      font-weight: 800;
      font-size: 1.8rem;
      line-height: 24px;
      letter-spacing: -0.04em;
      color: #ffffff;
    }
  }
  &-p2 {
    width: 60%;
    height: auto;
    padding: 0.5rem 0rem;
    // background-color: pink;
    & > p {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 24px;
      color: #81afdd;
    }
  }
}

.container6 {
  width: 100%;
  height: auto;
  padding: 2.5rem 0rem;
  background-color: $bgclr;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
    // background-color: pink;
    &-left {
      width: 50%;
      height: auto;
      padding: 0.5rem 0rem;
      // background-color: lightgreen;
      & > img {
        width: 100%;
      }
    }
    &-right {
      width: 45%;
      height: auto;
      padding: 0.5rem 0rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // background-color: lightseagreen;
      & > span {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #71e5ff;
      }
      & > h1 {
        margin-top: 10px;

        width: 90%;
        font-weight: 800;
        font-size: 34px;
        line-height: 45px;
        background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%),
          #ffffff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      & > p {
        margin-top: 23px;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 30px;
        color: #81afdd;
      }
      & > h5 {
        margin-top: 31px;
        margin-bottom: 2rem;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #ff8a71;
      }
    }
  }
}

.container7 {
  width: 100%;
  height: auto;
  padding: 10rem 0rem;
  background-color: $bgclr;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 4.5rem 4rem;
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7236px;
    & > p {
      font-family: 500;
      font-size: 1.2rem;
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > button {
        cursor: pointer;
        width: 189.14px;
        height: 59.4px;
        background: #000000;
        border-radius: 40px;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
.container8 {
  width: 100%;
  height: auto;
  padding: 2rem 0rem;
  background-color: $bgclr;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 2rem 0rem;
    & > h1 {
      // width: 50%;
      font-weight: 800;
      font-size: 6.2rem;
      line-height: 75px;
      letter-spacing: -0.04em;
      background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.card-container {
  width: 100%;
  height: auto;
  padding: 7.5rem 0rem;
  background-color: $bgclr;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    // background-color: aquamarine;
    &-left {
      width: 35%;
      // width: 417px;
      height: auto;
      // padding: 0.5rem 0rem;
      // background-color: lightcyan;
    }
    &-middle {
      width: 27.5%;
      // width: 315px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // padding: 0.5rem 0rem;
      // background-color: lightcyan;
    }
    &-right {
      width: 27.5%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // padding: 0.5rem 0rem;
      // background-color: lightcyan;
    }
  }
}

.card1 {
  width: 100%;
  height: auto;
  // padding: 0.5rem 0rem;
  // background-color: lightblue;
  &-content1 {
    width: 100%;
    height: 287px;
    background-image: url("../../../assets/bodyAssets/cd1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-content2 {
    width: 100%;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: #042c54;
    &-p1 {
      & > p {
        font-weight: 700;
        font-size: 11.649px;
        line-height: 35px;
        color: #ffffff;
      }
      & > h1 {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 30px;
        color: #ffffff;
      }
    }
    &-p2 {
      & > p {
        font-weight: 700;
        font-size: 11.649px;
        line-height: 35px;
        color: #ffffff;
      }
    }
  }
}

.card2 {
  width: 100%;
  height: auto;
  // padding: .5rem 0rem;
  background-color: #042c54;
  &-content1 {
    width: 100%;
    height: 130px;
    & > img {
      width: 100%;
      height: 130px;
    }
  }
  &-content2 {
    width: 100%;
    height: 193px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-p1 {
      & > p {
        font-weight: 700;
        font-size: 11.649px;
        line-height: 35px;
        color: #ffffff;
      }
      & > h1 {
        font-weight: 800;
        font-size: 1.7rem;
        line-height: 30px;
        color: #ffffff;
      }
    }
    & > p {
      font-weight: 700;
      font-size: 11.649px;
      line-height: 35px;
      color: #ffffff;
    }
  }
}
