@import "../../../Sass/mixin";
@import "../../../Sass/variables";

.nav-container {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  background-color: $bgclr;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    // background-color: laven;
    &-left {
      width: 10%;
      height: auto;
      display: flex;
      align-items: center;
      padding: 0.5rem 0rem;
      //   background-color: darkblue;
      & > img {
        width: 62.56px;
        height: 16.02px;
        cursor: pointer;
      }
    }
    &-middle {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0rem;
      //   background-color: darkblue;
      & > button {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        background: none;
        border: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-right {
      width: 25%;
      height: auto;
      display: flex;
      justify-content: right;
      padding: 0.5rem 0rem;
      //   background-color: darkblue;
      & > button {
        width: 152px;
        height: 58px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        &:hover {
          background-color: $orange;
          border-radius: 0.5rem;
        }
      }
    }
  }
}
